body {
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url(/img/leaves_small_source.png);
    background-position: center top;
}


@media screen and (max-width: 479px) {

    body {
        background-image: none;
    }
}

#content-body {
}
 
.content {
    margin-bottom: calc(1rem / 4);
}

.experience * {
    font-size: 0.9rem;
}

.experience .company-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: calc(1rem / 2);
}

.experience .title {
    font-weight: bold;
    margin-top: calc(1rem / 4);
}

.experience .desc, .experience .desc li {
    margin-top: calc(1rem / 4);
}

.experience .buffer {
    margin-right: 1rem;
}

#page-title, #page-sub-title {
    white-space: nowrap;
    font-family: 'Lemonada', cursive;
    line-height: 1;
}

#center-area {
    background-image: url(/img/half_tree_pale_left.png);
    background-repeat:no-repeat;
    background-position: left top;
    background-size: 90% auto;
    border-top: 2px solid #CAB9D8;
    border-bottom: 2px solid #CAB9D8;
}

#content-area {
    margin-top: calc(1rem / 2);
    margin-bottom: calc(1rem / 2);
    margin-right: 0.;
    margin-left: 1rem;
}

#content-inside {
    margin-right: 1rem;
}

#menu-area {
    margin-top: calc(1rem / 2);
    margin-bottom: calc(1rem / 2);
    margin-left: 1rem;
}

#top-menu-area {
    margin-top:  1rem;
}

#wrapper {
    margin-top: 1rem;
}

#divider {
    margin-bottom: 1rem;
}

#footer-area {
    font-size: .8rem;
    margin-top: calc(1rem / 2);
}

.material-icons.footer-font {
    font-size: .7rem;
}
