body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #2B133E;
    color: #FFFADE;
    background-image: url(/img/leaves_small.png);
    /* background-repeat: space;  */
    /* background-size: 10%; */
    background-position: center top;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    font-weight: bold;
}

/*
.cell {
    border: thin lightgreen solid;
}

.grid-x, .grid-y {
    border: thin lightblue solid;
}
*/

.grid-ht-full {
    height: 100%;
}

.grid-container {
    color: #320259;
    background-color: #FFFADE;
    border-left: thick #2B133E solid; 
    border-right: thick #2B133E solid;
    background-image: url(/img/half_tree_pale_left.png);
    background-repeat:no-repeat; 
    background-position: left bottom;
    background-size: contain;
}

.callout {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border: none;
}

.callout.primary {
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    border: thin solid #320259;
}

a {
    color: #9878B4;
}

a:hover, a:focus {
    color: #320259;
}

.menu .is-active > a {
    color: #320259;
    background: #CAB9D8;
}

.menu .is-active > a:hover {
    color: #CAB9D8;
    background: #320259;
}

.menu .is-active > a:focus {
    color: #CAB9D8;
    background: #320259;
}


#left-menu {
    font-weight: bold;
}

#content-area {
    /* padding-top: .7rem; */
    /* background-color: #fcfbfd; */
}

#page-title, #page-sub-title {
    /* line-height: 1em; */
    /* text-align: center; */
    white-space: nowrap;
    font-family: 'Lemonada', cursive;
}

#logo-area {
    /* margin-right: 1em;
    margin-left: 1em; */
}

.footer-font {
    font-size: .8rem;
}

.material-icons.footer-font {
    font-size: .8rem;
}
