body {
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url(/img/leaves_small_source.png);
    background-position: center top;
}

#content-body {
    background-image: url(/img/half_tree_pale_left.png);
    background-repeat:no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.material-icons.footer-font {
    font-size: .7rem;
}

.experience .company-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.experience .title {
    font-weight: bold;
}

#page-title, #page-sub-title {
    white-space: nowrap;
    font-family: 'Lemonada', cursive;
    line-height: 1;
}

#center-area {
    border-top: 2px solid {color_rule};
    border-bottom: 2px solid {color_rule};
}

#content-area {
    margin-top: calc({padding_width} / 2);
    margin-bottom: calc({padding_width} / 2);
    margin-right: 0.25rem;
    margin-left: {padding_width};
}

#content-inside {
    margin-right: {padding_width};
}

#menu-area {
    margin-top: calc({padding_width} / 2);
    margin-bottom: calc({padding_width} / 2);
    margin-left: {padding_width};
}

#top-menu-area {
    margin-top:  {padding_width};
}

#wrapper {
    margin-top: {padding_width};
}

#divider {
    margin-bottom: {padding_width};
}

#footer-area {
    font-size: .8rem;
    margin-top: calc({padding_width} / 2);
}